.App {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 7rem 0 0.1rem 0;
}

/* ToggleTheme */

.light {
  background-color: #ffffff;
  color: black;
}

.dark {
  background-color: #282c34;
  color: #ffffff;
}
